* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f8f8f8;
}

.App {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(88, 88, 88, 50%);
    margin: 30px auto;
    padding: 20px;
    width: 60%;
}

.form{
    /* border: 1px solid #bbbbbb; */
    margin: 20px;
}

.field p {
    margin: 5px 0px;
    width: 100%;
}

.field p input {
    width: 80%;
    float: right;
}

input[type="button"] {
    display: block;
    width: 80%;
    box-shadow: none;
    margin: 5px auto;
    padding: 5px 15px;
    border: 1px solid #333333;
    border-radius: 3px;
    background-color: #333333;
    color: #eeeeee;
    font-size: 1rem;
    font-weight: bold;
}